body {
    font: 18px/36px 'Bebas Neue', arial, sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 25px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.gallery li .gambar {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* overflow: hidden; */
    border: 5px solid #333;
    position: relative;
    margin-left: 15px;
}

.gallery li .gambar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.gallery li .gambar span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: .3s;
    transform: scale(0) rotate(0);
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}


/* overlay */

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 0.9s;
    text-align: center;
    padding: 100px;
}

.overlay:target {
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
}

.overlay:target img {
    animation: zdf .7s;
}

.overlay .close {
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: 157px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px #111;
    opacity: 0;
}

.overlay:target .close {
    animation: sd .5s .5s forwards;
}

.overlay:target .next {
    animation: fade .5s .5s forwards;
}

.overlay:target .previous {
    animation: fade .5s .5s forwards;
}

.next {
    top: 50%;
    left: 65%;
    position: absolute;
    color: white;
    opacity: 0;
}

.previous {
    top: 50%;
    right: 65%;
    position: absolute;
    color: white;
    opacity: 0;
}


/* animasi */

@keyframes zdf {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes sd {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}